In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("estudo").getOrCreate()

22/07/24 09:57:49 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [26]:
df = spark.read.csv("/home/fernando/TreinamentoSparkBrasil/Dados/Bikes.csv",header= True)

In [27]:
df.show()

+--------------------+--------+---------+----------+------------+---+-----+-------------+
|           bike_name|   price|     city|kms_driven|       owner|age|power|        brand|
+--------------------+--------+---------+----------+------------+---+-----+-------------+
|TVS Star City Plu...| 35000.0|Ahmedabad|   17654.0| First Owner|3.0|110.0|          TVS|
|Royal Enfield Cla...|119900.0|    Delhi|   11000.0| First Owner|4.0|350.0|Royal Enfield|
|Triumph Daytona 675R|600000.0|    Delhi|     110.0| First Owner|8.0|675.0|      Triumph|
|TVS Apache RTR 180cc| 65000.0|Bangalore|   16329.0| First Owner|4.0|180.0|          TVS|
|Yamaha FZ S V 2.0...| 80000.0|Bangalore|   10000.0| First Owner|3.0|150.0|       Yamaha|
|    Yamaha FZs 150cc| 53499.0|    Delhi|   25000.0| First Owner|6.0|150.0|       Yamaha|
|Honda CB Hornet 1...| 85000.0|    Delhi|    8200.0| First Owner|3.0|160.0|        Honda|
|Hero Splendor Plu...| 45000.0|    Delhi|   12645.0| First Owner|3.0|100.0|         Hero|
|Royal Enfield Thu...|145000.0|Bangalore|    9190.0| First Owner|3.0|350.0|Royal Enfield|
|Royal Enfield Cla...| 88000.0|    Delhi|   19000.0|Second Owner|7.0|500.0|Royal Enfield|
|Yamaha YZF-R15 2....| 72000.0|Bangalore|   20000.0| First Owner|7.0|150.0|       Yamaha|
|   Yamaha FZ25 250cc| 95000.0|Bangalore|    9665.0| First Owner|4.0|250.0|       Yamaha|
|  Bajaj Pulsar NS200| 78000.0|Bangalore|    9900.0| First Owner|4.0|200.0|        Bajaj|
| Bajaj Discover 100M| 29499.0|    Delhi|   20000.0| First Owner|8.0|100.0|        Bajaj|
| Bajaj Discover 125M| 29900.0|    Delhi|   20000.0| First Owner|7.0|125.0|        Bajaj|
|Bajaj Pulsar NS20...| 90000.0|Bangalore|   11574.0| First Owner|3.0|200.0|        Bajaj|
|Bajaj Pulsar RS20...|120000.0|Bangalore|   23000.0| First Owner|3.0|200.0|        Bajaj|
|Suzuki Gixxer SF ...| 48000.0|   Mumbai|   24725.0| First Owner|5.0|150.0|       Suzuki|
|  Benelli 302R 300CC|240000.0|   Mumbai|   15025.0|Second Owner|3.0|302.0|      Benelli|
| Bajaj Discover 125M| 29900.0|    Delhi|   20000.0| First Owner|7.0|125.0|        Bajaj|
+--------------------+--------+---------+----------+------------+---+-----+-------------+
only showing top 20 rows

In [28]:
df.printSchema()

root
 |-- bike_name: string (nullable = true)
 |-- price: string (nullable = true)
 |-- city: string (nullable = true)
 |-- kms_driven: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- age: string (nullable = true)
 |-- power: string (nullable = true)
 |-- brand: string (nullable = true)

In [29]:
df.count()

32648

In [8]:
#df.distinct().count()

7324

In [30]:
df.dropDuplicates

In [31]:
df.count(['bike_name','City']).count()

32648

In [12]:
type(df_distinct)

pyspark.sql.dataframe.DataFrame

In [58]:
group = df.groupby(['bike_name']).count()

In [53]:
group = group.orderBy(['count'],ascending=[0,1]).show()

+--------------------+-----+
|           bike_name|count|
+--------------------+-----+
|  Bajaj Pulsar 150cc| 2776|
|Bajaj Avenger Str...| 2531|
| Bajaj Avenger 220cc| 2060|
|Royal Enfield Cla...| 1673|
|Hero Passion Pro ...| 1432|
|  Hero Passion 100cc| 1238|
|Royal Enfield Thu...|  919|
|Yamaha YZF-R15 2....|  769|
|Royal Enfield Bul...|  756|
|  Bajaj Pulsar NS200|  708|
|        KTM RC 390cc|  705|
|Bajaj Dominar 400...|  700|
|Hero CD Deluxe 100cc|  693|
| Bajaj Platina 100cc|  686|
|Hero CBZ Xtreme 1...|  686|
|Honda CB Trigger ...|  681|
|TVS Apache RTR 180cc|  675|
|  Yamaha Fazer 150cc|  674|
|     Yamaha FZ 150cc|  661|
|Hero Super Splend...|  649|
+--------------------+-----+
only showing top 20 rows

In [60]:
print(group)

DataFrame[bike_name: string, count: bigint]

In [61]:
group.show()

+--------------------+-----+
|           bike_name|count|
+--------------------+-----+
|Royal Enfield Cla...|   30|
|Yamaha FZ25 ABS 2...|    6|
| TVS Star City 110cc|   35|
|Bajaj Avenger Cru...|   72|
|Honda CB ShineSP ...|    7|
|Benelli TNT R 1130cc|    1|
|  Hero CD Dawn 100cc|   10|
|Honda CB ShineSP ...|    9|
|Yamaha Fazer25 250cc|    4|
|Hero Super Splend...|    3|
|  Bajaj Pulsar 150cc| 2776|
|TVS Apache RTR 20...|    1|
|Triumph Street Tw...|    2|
|Yamaha YZF-R3 320...|    1|
|Royal Enfield Mac...|    9|
| Bajaj Discover 100M|   31|
|Suzuki Gixxer 150...|    2|
|TVS Apache RTR 16...|    2|
|  Bajaj Pulsar 220cc|   98|
| Jawa Standard 295CC|    3|
+--------------------+-----+
only showing top 20 rows

In [69]:
group.write.csv("/home/fernando/TreinamentoSparkBrasil/Dados/bike2.csv")